<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="max-age=604800"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Website title - bootstrap html template</title>
    <link href="images/my.png" rel="shortcut icon" type="image/x-icon">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/12e1c32d85.js" crossorigin="anonymous"></script>
    <link href="css/ui.css" rel="stylesheet" type="text/css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css"/>
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
<div id="vueApp">

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="http://bootstrap-ecommerce.com" class="brand-wrap">
                            <img class="logo" src="images/mymarket.png">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>
                                        <span class="notify">3</span>
                                    </div>
                                    <small class="text"> My profile </small>
                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-comment-dots"></i>
                                        <span class="notify">1</span>
                                    </div>
                                    <small class="text"> Message </small>
                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-store"></i>
                                    </div>
                                    <small class="text"> Orders </small>
                                </a>
                            </div>
                            <div class="widget-header">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <small class="text"> Cart </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <section class="section-content padding-y">
        <div class="container">

            <div class="card mb-3">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-2">Filter by</div> <!-- col.// -->
                        <div class="col-md-10">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-3 dropdown"><a href="#" class="dropdown-toggle"
                                                                              data-toggle="dropdown"> Categories </a>
                                    <div class="dropdown-menu p-3"  style="max-width:400px;">
                                        <label class="form-check">
                                            <input type="radio" name="myFilter" class="form-check-input" @change ="clearSubCategory" > All categories
                                        </label>
                                        <label v-for="category in categories"  class="form-check" @change="updateSubCategories" >
                                            <input  :id=category.id type="radio" v-model="selectedCategory" name="myFilter" class="form-check-input" :value="category">
                                            {{ category.name }}
                                        </label>

                                    </div> <!-- dropdown-menu.// -->
                                </li>
                                <li v-if="subCategories!=null && subCategories.length>0" class="list-inline-item mr-3 dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Sub Categories </a>
                                    <div class="dropdown-menu p-3"  style="max-width:600px;width: 380px">
                                        <label class="form-check">
                                            <input type="radio" name="subFilter" class="form-check-input" @change="getAllSub" checked> All sub categories
                                        </label>
                                        <label v-for="subCategory in subCategories" class="form-check" @change="updateContent">
                                            <input :id="subCategory.id" name="subFilter" type="radio" class="form-check-input" v-model="selectedSubCategory" :value="subCategory" >
                                            {{subCategory.name}}
                                        </label>


                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spinner-border text-primary" style="position: fixed;top: 9%;left: 50%;"  role="status" v-if="loading">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="row">

                <div v-if="response" v-for="product in response" class="col-md-3" @click="showProductDetails">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <span style="display: none" class="badge badge-danger"> NEW </span>
                            <img v-bind:src="product.img">
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <span href="#" class="title mb-2">{{ product.name }}</span>
                            <div class="price-wrap">
                                <i class="fa-solid fa-manat-sign fa-flip" style="color: #fc891d;"></i>
                                <span class="price">{{ product.price }}</span>
                            </div>
                            <p class="text-muted ">{{ product.description }}</p>
                            <hr>
                            <a href="#" class="btn btn-outline-primary"> <i class="fa fa-cart-arrow-down"></i> Add to
                                cart
                            </a>

                        </figcaption>
                    </figure>
                </div>
            </div>
<Popup></Popup>
            <nav v-if="response!=null && response.length>20" class="mb-4" aria-label="Page navigation sample">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <footer class="section-footer bg-secondary">
        <div class="container">


            <section class="footer-bottom text-center">

                <p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
                <p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
                <br>
            </section>
        </div><!-- //container -->
    </footer>
</div>
<script src="js/vue-script.js" type="application/javascript"></script>
</body>
</html>